body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: rgba(206, 206, 206, 0.4);
  background-image: linear-gradient(
      30deg,
      #ffffff 12%,
      transparent 12.5%,
      transparent 87%,
      #ffffff 87.5%,
      #ffffff
    ),
    linear-gradient(
      150deg,
      #ffffff 12%,
      transparent 12.5%,
      transparent 87%,
      #ffffff 87.5%,
      #ffffff
    ),
    linear-gradient(
      30deg,
      #ffffff 12%,
      transparent 12.5%,
      transparent 87%,
      #ffffff 87.5%,
      #ffffff
    ),
    linear-gradient(
      150deg,
      #ffffff 12%,
      transparent 12.5%,
      transparent 87%,
      #ffffff 87.5%,
      #ffffff
    ),
    linear-gradient(
      60deg,
      #ffffff77 25%,
      transparent 25.5%,
      transparent 75%,
      #ffffff77 75%,
      #ffffff77
    ),
    linear-gradient(
      60deg,
      #ffffff77 25%,
      transparent 25.5%,
      transparent 75%,
      #ffffff77 75%,
      #ffffff77
    );
  background-size: 32px 56px;
  background-position: 0 0, 0 0, 16px 28px, 16px 28px, 0 0, 16px 28px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.AppBody {
  padding-left: 3em;
  padding-right: 3em;
}

.Title {
  background-color: #a3daff;
  padding: 0.2em 0.2em 0.5em 0.2em;
  border-radius: 0.2em;
  opacity: 0.8;
}

.InputBody {
  display: flex;
  flex-direction: row;
}

.Input {
  padding-right: 2em;
}

.Input > label {
  display: block;
  color: gray;
  font-style: italic;
}

.TextField {
  margin-top: 2em;
  background-color: whitesmoke;
  padding: 1em;
}

mark.blue {
  background-color: #a3daff;
  opacity: 0.8;
}

mark.red {
  background-color: #ffc9c9;
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .InputBody {
    flex-direction: column;
  }

  .Input {
    padding-bottom: 1em;
  }

  .TextField {
    margin-top: 0.5em;
  }
}
